.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.grid {
  display: grid;
  position: relative;
  box-sizing: border-box;
}
.grid[inert="true"] {
  opacity: .3;
}
.row {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}
